page-repayment {
    .all {
        background: #fff;
        padding: 20px;
        border-bottom: 1px solid #efecec;
        text-align: center;
        p {
            display: inline;
        }
        .datetime-ios,
        .datetime-text {
            display: inline;
        }
    }
    .tab {
        width: 100%;
        position: absolute;
        z-index: 444;
        left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        bottom: 0;
        padding: 0 20px;
    }
    .table {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #00c7ae;
        color: #fff;
    }
}