page-register-detail {
    .list-ios .item-block .item-inner {
        border: none;
    }
    .label-ios-primary,
    .item-input .label-ios-primary,
    .item-select .label-ios-primary,
    .item-datetime .label-ios-primary {
        color: #000;
    }
    .list-ios>.item-block:first-child,
    .list-ios>.item-block:last-child,
    .list-ios>.item-wrapper:last-child .item-block {
        border: 0.55px solid #f5efef;
    }
    .label-ios+ion-input .text-input,
    .label-ios+ion-textarea .text-input,
    .label-ios+.input+.cloned-input {
        text-align: right;
    }
}