page-modify-password {
    .label-ios-primary,
    .item-input .label-ios-primary,
    .item-select .label-ios-primary,
    .item-datetime .label-ios-primary {
        color: #000;
    }
    .item-ios {
        width: 96%;
        margin: 0 auto;
        border: 1px solid #e3e3e6;
        margin-bottom: 10px;
    }
    .list-ios .item-block .item-inner {
        border: none;
    }
    .label-ios+ion-input .text-input,
    .label-ios+ion-textarea .text-input,
    .label-ios+.input+.cloned-input {
        text-align: right;
    }
}