page-selset-product {
    .Letter {
        position: fixed;
        right: 10px;
        top: 50px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        font-size: 18px;
    }
    .title_shop {
        p {
            margin: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .list-ios>.item-block:last-child,
    .list-ios>.item-wrapper:last-child .item-block,
    .list-ios>.item-block:first-child {
        border: none;
    }
    .item-ios {
        h2 {
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 17px;
            color: #646567;
        }
    }
    .list-ios .item-block .item-inner {
        border: none;
    }
    .item-ios p {
        color: #000000;
        margin: 0 0 2px;
        border: 1px solid #dedcdc;
        display: inline-block;
        padding: 5px 20px;
        font-size: 17px;
    }
}