page-operation-manual-detail {
    h4 {
        font-size: 18px;
        font-weight: 600;
        margin: 20px 10px;
    }
    .detail {
        margin: 10px;
        text-indent: 30px;
        font-size: 15px;
    }
}